/* Styling for y-quill remote cursors */
.ql-remote-cursor {
  position: absolute;
  height: 1.5em;
  border-left: 2px solid;
}

.ql-remote-cursor-caret {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;
  border-left: 2px solid;
}